body {
    box-sizing: border-box;
    margin: 0;
    background-color: whitesmoke;
    overflow-x: hidden;
}
.navbar ul {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}
.navbar ul li {
    float: left;
    padding: 0px 0px;
    list-style-type: none;
    width: 16.65%;
    font-size: 10px;
    background-color: orangered;
}
.navbar ul li a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: whitesmoke;
}
.navbar ul li a:hover {
    background-color: black;
}

div.d1 {
    box-shadow: inset 15px 2px 20px 1px rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    margin: 0px 5px;
    width: auto;
    height: auto;
    padding: 1px;

}
p { 
    border-left: 20px solid rgb(240, 240, 240);
    margin: 10px 20px;
    padding: 20px 0px;
    overflow-y: auto;
    line-break: loose;
    border-radius: 10px;
    text-align: center;
    background-color: seashell;
    box-shadow: inset 2px 2px 20px 1px rgba(0, 0, 0, 0.404);
}
p:hover {
    background-color: lightskyblue;
    box-shadow: inset 2px 2px 20px 2px rgba(0, 0, 0, 0.753);
}
